              /* Mise en forme de la page */

/* la police:@font-face */

@font-face {
    font-family: 'tanohe_sansregular';
    src: url('font/tanohesans-regular-webfont.woff2') format('woff2'),
         url('font/tanohesans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_display_scregular';
    src: url('font/playfairdisplaysc-regular-webfont.woff2') format('woff2'),
         url('font/playfairdisplaysc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Stylage des caractères */

body{
    background-color: rgb(154, 176, 194);          /* couleur de fond */
    font-size: 1em;
    font-family:'playfair_display_scregular';        /* la police */
    display: flex;                                   /*  flexbox  */
    justify-content: center;                         /* aligner au centre */                                      
    width: 85vw;                                     /* la largeur de la page */
    flex-wrap: wrap;                                 /* retour à la ligne des bloc s'il y'a plus d'espace */
}

aside{
    background-color:#3A75A9;        /* Couleur de fond */
    width: 15vw;                       /* la largeur de 217 px */
    font-size: 1em;                    /* la taille du texte */
    display: flex;                     /* utiliser flexbox pour l'alignement */
    flex-direction: column;            /* disposer sur la colonne */
    justify-content: flex start;       /* aligner au début */
    padding-left:0;                    /* la marge intérieur */
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 11.9vw;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
aside p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.section_gauche{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left:0;
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    height: 4vh;
    margin-top: 0;
    font-size: 1em;
}
header{
    display: flex;                    /* flexbox */
    flex-direction: row;              /* disposition horizontale */
    width: 64.4vw;                    /* la largeur de 835.44 px */
    height: 35vh;                     /* la hauteur de 208 px */
    padding-left:4.5vw;                /* la marge intérieur de 67 px */
    background-color:#3A75A9 ;
    margin-left: 12vw;
}
header h1{
    height: 8vh;                      /* la hauteur du titre principal */
}
header h3 span{

    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color:#FFFFFF;
    font-size: 1em;
}
header div{
    display: flex;                    /* On utilise flexbox */
    flex-direction: column;           /* disposition au niveau de la colonne */
    justify-content: center;          /* alignement au centre */
    width: 55vw;                      /* avec une largeur */
    padding-left: 8vw;                /* une marge intérieure à gauche */
}
figure{
    display: flex;                    /* flexbox */
    flex-direction: column;           /* sur la colonne */
    justify-content: center;          /* au centre */
    width: 20vw;                      /* avec une largeur */
    margin-left: 0;                   /* la marge exterieur nulle */
}
figure img{
    border-radius: 50%;               /* bordure arrondie de 50% */
    box-shadow:6px 6px 6px black;   /* avec une décalage horizontale,verticale avec adoucissement et la couleur noir de l'ombre */
    border: 10px #FFFFFF double;    /* une taille de 10px couleur blanc doublée */
}
figure a{
    height: 160px;
    width: 180px;
}
main{
    background-color: #FFFFFF;      /* couleur de fond */
    display: flex;                    /* flexbox */
    flex-direction: column;           /* disposition colonne */
    width: 51vw;                      /* une largeur */
    padding-left: 2.8vw;               /* une marge intérieure */
}
.section_milieu{
    display: flex;
    align-items: baseline;
    justify-content: center;

}
.section_milieu p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}
#formation,#experience{
    width: 50vw;
    margin-bottom: 5vh;
}
#expériences{
    width: 50vw;
    margin-bottom: 5vh;
} 
.section_milieu i{
    padding-right: 40px;
}

.section_milieu span{
    width: 15vw;
    font-size: 0.8em;
}
.section_milieu h4{
     margin-top: 0.8em;
     font-weight: normal;
     font-size: 1em;
}
.section_milieu div{
    width: 100%;
    text-align: justify;
    line-height: 1em;
    font-size: 0.8em;
    margin-bottom: 20px;
}
.sectionMilieu h3{
    text-transform: uppercase;
    margin: 0;
}
.titles{

    height: 8vh;
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
    border-bottom-color: rgb(10, 10, 10);
    text-transform: uppercase; 
    margin-bottom: 30px;
}
footer{
    background-color:#3A75A9;       /* la couleur de fond */
    display: flex;                    /* flexbox */
    justify-content: flex-start;      /* aligner au début */                     
    width:68.7vw;                       /*  avec une largeur width: 982px; */
    padding-left: 0;               /* une marge intérieure gauche*/
    margin-left: 12.1vw;
}
footer article:first-child{
    width: 15.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0;                 
    margin-left: 0;
    margin-right: 0;
}
footer article:first-child div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer article:first-child .fas{
     font-size: 2em;
     border: 2px white solid;
     border-radius: 50%;
     padding: 6px;
}
.Certifications{
    background-color: white;
    display: flex;                     /* flexbox */
    flex-direction: column;            /* disposition en colonne */
    width: 53.5vw;                     /* la largeur de la section */
    padding-left: 2vw;                 /* une marge intérieure gauche */
    padding-right: 1vw;                /* une marge intérieure droite */
    justify-content: center;
    margin-left: 0;
}

/* Responsive Design */

 @media screen and (min-width:768px) and (max-width:991px) and (orientation:landscape){

    /* Appareils avec une résolution en-dessous de 991px  et au dessus de 768 px */
    
        body{
            background-color:rgb(154, 176, 194) ;
        }

        main{
            min-width: 52vw;
            margin-left: 12vw;
        }

        header{
            width:50vw;
        }
        aside{
            width: 55vw;
        }
        footer{
            width:55vw ;
        }
    }