              /* Mise en forme de la page */

/* la police:@font-face */

@font-face {
    font-family: 'tanohe_sansregular';
    src: url('font/tanohesans-regular-webfont.woff2') format('woff2'),
         url('font/tanohesans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_display_scregular';
    src: url('font/playfairdisplaysc-regular-webfont.woff2') format('woff2'),
         url('font/playfairdisplaysc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Stylage des caractères */

body{
    background-color: rgb(154, 176, 194);          /* couleur de fond */
    font-size: 1em;
    font-family: 'playfair_display_scregular';      /* la police */
    display: flex;                                   /*  flexbox  */
    justify-content: center;                         /* aligner au centre */                                      
    width: 85%;                                      /* la largeur de la page */
    flex-wrap: wrap;                                 /* retour à la ligne des bloc s'il y'a plus d'espace */
    margin: auto;
}

aside{
    background-color:#3A75A9;        /* Couleur de fond */
    width: 25%;                        /* la largeur de 217 px */
    font-size: 0.8em;                    /* la taille du texte */
    display: flex;                     /* utiliser flexbox pour l'alignement */
    flex-direction: column;            /* disposer sur la colonne */
    justify-content: flex-start;       /* aligner au début */   
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
aside p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10px;
}
ul{
    display:flex;
    flex-direction: column;
    line-height: 0.2em;
    list-style-type: none;
    padding-left: 10px;
}
li{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
aside h3{
    display:block;
    font-size: 1.17em;
    font-weight: bold;
    padding: 10px 10px;
}
.section_gauche{
    background-color: #000000;
    display: flex;
    justify-content: center;
    color: #3A75A9;
}
header{
    display: flex;                    /* flexbox */
    flex-direction: row;              /* disposition horizontale */
    width: 100%;                    /* la largeur de 835.44 px */
    height: 200px;                     /* la hauteur de 208 px */
    background-color:#3A75A9 ;
}
header h1{
    height: 8vh;                      /* la hauteur du titre principal */
    padding-left: 3vw;
}
header h3{
    padding-left: 3vw;
}

header h1 span{
    color: #3A75A9;
}
header h3 span{

    text-decoration-line: underline;
    text-decoration-color:#3A75A9;
    font-size: 1em;
    text-underline-position: under;
}
header div{
    display: flex;                    /* On utilise flexbox */
    flex-direction: column;           /* disposition au niveau de la colonne */
    justify-content: center;          /* alignement au centre */
    width: 75%;                      /* avec une largeur */               
    background-color: #FFFFFF;
}
figure{
    display: flex;                    /* flexbox */
    flex-direction: column;           /* sur la colonne */
    justify-content: center;          /* au centre */
    width: 25%;                      /* avec une largeur */
    background-color:#3A75A9;
    margin:0;
}
figure img{
    border-radius: 50%;               /* bordure arrondie de 50% */   
    margin: 30px;  
}
figure a{
    height: 178px;
    width: 170px;
    margin: auto;
}
main{
    background-color: #FFFFFF;      /* couleur de fond */
    display: flex;                    /* flexbox */
    flex-direction: column;           /* disposition colonne */
    width: 75%;                       /* une largeur */
}
.section_milieu{
    display: flex;
    align-items: baseline;
    justify-content: center;

}
.section_milieu p{
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}
#formation,#expériences{
    width: 87%;
    padding-left: 3vw;
}
#compétences{
    width: 87%;
    padding-left: 3vw;
} 
.section_milieu i{
    padding-right: 40px;
    color: #3A75A9;
    font-size: 0.1em;
}

.section_milieu span{
    width: 15vw;
    font-size: 0.8em;
}
.section_milieu p{
     margin-top: 0.8em;
     font-weight: normal;
     font-size: 1em;
}
.section_milieu div{
    width: 100%;
    text-align: justify;
    line-height: 1em;
    font-size: 0.8em;
    margin-bottom: 20px;
}
.sectionMilieu h3{
    text-transform: uppercase;
    margin: 0;
}
.titles{

    height: 8vh;
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
    border-bottom-color: #3A75A9;
    text-transform: uppercase; 
    margin-bottom: 30px;
}
.fas{
    color:#3A75A9;
    padding-right: 20px;
}
.fa-circle{
    font-size: xx-small;
}
.far{
    font-size: xx-small;
}
footer{
    background-color:#FFFFFF;       /* la couleur de fond */
    display: flex;                    /* flexbox */
    justify-content: flex-start;      /* aligner au début */                     
    width:100%;                       /*  avec une largeur */
}
footer article:first-child{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#3A75A9;
}
footer article:first-child div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer article:first-child .fas{
     font-size: 2em;
     border: 2px solid;
     border-radius: 50%;
     padding: 6px;
     color: #000000;
}
.Certifications{
    background-color: white;
    display: flex;                     /* flexbox */
    flex-direction: column;            /* disposition en colonne */
    width: 65%;                        /* la largeur de la section */
    justify-content: center;
    font-size: 1em;
    padding-left: 3vw;
}



/* Responsive Design */
@media screen and (max-width:830px){

    /* Appareils avec une résolution en-dessous de 768px */
    
        body{
            width: 100%;
        }

        main{
            width:100% ;
        }
        h4{
            font-size: 0.8em;
        }

        header{
            width:100%;
            flex-wrap: wrap;
            margin: 0;
            padding-bottom: 8vh;
            font-size: 0.6em;
            line-height: 0.5em;
       }
       header h3{
           text-align: center;
           margin-top: 0;
           font-size: 2em;
       }
       figure{
        display: flex;                    
        flex-direction: column;           
        justify-content: center;          
        width: 100%;                      
        background-color:#3A75A9;
        align-items: center;
        margin: 0;
    }
       header h1{
           height: 3vh;
       }
       header div{
        display: flex;                    
        width: 100%;                                      
        flex-direction: column;           
        justify-content: center;          
        background-color: #FFFFFF;
        align-items: center;
        }
       aside{
           width: 100%;
           display: flex;
           flex-direction: row;
           
       }
       aside article{
           width: 50%;
       }
       aside h3{
           display: block;
           font-size: 1.17em;
           font-weight: bold;
           padding: 5px 10px;
       }
       ul{
        display:flex;
        flex-direction: column;
        line-height: 0.2em;
        list-style-type: none;
        padding-left: 10px;
        margin: auto;
      }
     
       footer{
           width: 100%;
           flex-wrap: wrap;
           flex-direction: column-reverse;
       }
       
       footer article:first-child .fas{
        border: 2px solid;
        border-radius: 50%;
        padding: 6px;
        margin: 10px;
       }
      footer article:first-child{
        width: 100%;
       }
      .section_gauche{
        margin: 0;
       }
       .Certifications{
          width: 100%;
          background-color: white;
          display: flex;                                           
          justify-content: center;
          font-size: 0.9em;
          padding-left: 3vw;
       }
       li{
           padding-top: 0;
           padding-bottom: 0;
           font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       }
       .titles{

        height: 8vh;
        display: flex;
        align-items: center;
        border-bottom: 2px solid;
        border-bottom-color: #3A75A9;
        text-transform: uppercase; 
        margin-bottom: 0px;
    }
    .Certifications ul{
        line-height: 1.2em;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;

    }
       
}
@media screen and (max-width:768px) and (orientation:portrait){

    /* Appareils avec une résolution en-dessous de 1083px */
    
        body{
            width: 100%;
        }

        main{
            width:100% ;
        }
        h4{
            font-size: 0.8em;
        }

        header{
            width:100%;
            flex-wrap: wrap;
            margin: 0;
            padding-bottom: 8vh;
            font-size: 0.6em;
            line-height: 0.5em;
       }
       header h3{
           text-align: center;
           margin-top: 0;
           font-size: 2em;
       }
       figure{
        display: flex;                    
        flex-direction: column;           
        justify-content: center;          
        width: 100%;                      
        background-color:#3A75A9;
        align-items: center;
        margin: 0;
    }
       header h1{
           height: 3vh;
       }
       header div{
        display: flex;                    
        width: 100%;                                      
        flex-direction: column;           
        justify-content: center;          
        background-color: #FFFFFF;
        align-items: center;
        }
       aside{
           width: 100%;
           display: flex;
           flex-direction: row;
           
       }
       aside article{
           width: 50%;
       }
       aside h3{
           display: block;
           font-size: 1.17em;
           font-weight: bold;
           padding: 5px 10px;
       }
       ul{
        display:flex;
        flex-direction: column;
        line-height: 0.2em;
        list-style-type: none;
        padding-left: 10px;
        margin: auto;
      }
     
       footer{
           width: 100%;
           flex-wrap: wrap;
           flex-direction: column-reverse;
       }
       
       footer article:first-child .fas{
        border: 2px solid;
        border-radius: 50%;
        padding: 6px;
        margin: 10px;
       }
      footer article:first-child{
        width: 100%;
       }
      .section_gauche{
        margin: 0;
       }
       .Certifications{
          width: 100%;
          background-color: white;
          display: flex;                                           
          justify-content: center;
          font-size: 0.9em;
          padding-left: 3vw;
       }
       li{
           padding-top: 0;
           padding-bottom: 0;
           font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       }
       .titles{

        height: 8vh;
        display: flex;
        align-items: center;
        border-bottom: 2px solid;
        border-bottom-color: #3A75A9;
        text-transform: uppercase; 
        margin-bottom: 0px;
    }
    .Certifications ul{
        line-height: 1.2em;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;

    }
       
}

 
